@require 'variables'

.container
  margin 0 auto
  padding 0 1rem
  @media (min-width $MQWide)
    max-width (($MQWide + $MQNarrow) / 2)
  @media (min-width $MQNarrow) and (max-width $MQWide - 1px)
    max-width $MQNarrow
  @media (max-width $MQMobile - 1px)
    padding 0 0.5rem

.main-div
  padding 1.5rem
  background-color #ffffff
  border-radius 5px
  @media (max-width $MQMobile - 1px)
    padding 1rem
  &:not(:first-child)
    margin-top 1rem
  &:not(:last-child)
    margin-bottom 1rem
    @media (max-width $MQMobile - 1px)
      margin-bottom 0.5rem
  > :first-child
    margin-top 0

.clearfix
  &::after
    display block
    clear both
    content ''
