// colors
$textColor = #2c3e50
$accentColor = #1e90ff
$grayTextColor = #666
$lightTextColor = #999
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$navbarColor = #fff
$headerColor = #fff
$nprogressColor = $accentColor

// responsive breakpoints
$MQWide = 1440px
$MQNarrow = 1024px
$MQMobile = 768px
$MQMobileNarrow = 480px
