@require '~@temp/palette'

// layout
$navbarHeight ?= 3.6rem
$bannerHeight ?= 12rem

// responsive breakpoints
$MQWide ?= 1440px
$MQNarrow ?= 1024px
$MQMobile ?= 768px
$MQMobileNarrow = 480px

// code
$lineNumbersWrapperWidth ?= 3.5rem
$codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py
